@page "/"

<h1>How to setup Continuous Deployment of an abp.io application in AzureDevops</h1>

<PartLink Title="@Constants.Part1.Title" Href="@Constants.Part1.Href" />
<PartLink Title="@Constants.Part2.Title" Href="@Constants.Part2.Href" />
<PartLink Title="@Constants.Part3.Title" Href="@Constants.Part3.Href" />
<PartLink Title="@Constants.Part4.Title" Href="@Constants.Part4.Href" />
<PartLink Title="@Constants.Part5.Title" Href="@Constants.Part5.Href" />
<PartLink Title="@Constants.Part6.Title" Href="@Constants.Part6.Href" />
<PartLink Title="@Constants.Part7.Title" Href="@Constants.Part7.Href" />
<PartLink Title="@Constants.Part8.Title" Href="@Constants.Part8.Href" />
<PartLink Title="@Constants.Part9.Title" Href="@Constants.Part9.Href" />



