@page "/part9"

<PartTemplate Title="@Constants.Part9.Title" PrevHref="@Constants.Part9.PrevHref" Href="@Constants.Part9.Href" NextHref="@Constants.Part9.NextHref" PageIdentifier="@Constants.Part9.PageIdentifier">
  <Part>
    <p>1. Go to the <em>Release</em> pipeline in <a href="https://azure.microsoft.com/en-us/services/devops/" target="_blank">Azure DevOps</a> and click <b>Edit</b></p>
    <p>2. Click the <b>+ Add</b> link and add a <b>New Stage</b></p>
    <p>3. Select <em>Azure App Service deployment</em> and click the <b>Apply</b> button </p>
    <p>4. Enter <em>BlazorDeployment</em> in the <em>Stage name</em> input field and close the <em>Stage</em> window</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/add_stage_in_release_pipeline.jpg" />
    </Figure>
    <p>5. Click on the <b>little red circle with the exclamation mark</b> in the BlazorDeployment stage </p>
    <p>6. Select your subscription in the <em>Azure subscription</em> dropdown</p>
    <p>7. Select your Blazor Web App in the <em>App service name</em> dropdown</p>
    <p>8. Click on the <b>Deploy Azure App Service task</b></p>
    <p>9. Select <em>[YourAppName].Blazor.zip</em> in the <em>Package or folder</em> input field</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/select_blazor_zip_in_drop_folder.jpg" />
    </Figure>
    <p>10. Enter <em>**/appsettings.json</em> in the <em>JSON variable substitution</em> input field</p>
    <p>11. Click on the <b>Variables</b> tab and add the variables <em>AuthServer.Authority</em> and <em>RemoteServices.Default.BaseUrl</em> as in the image below</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/replace_values_in_appsettings_file_in_blazor_deployment.jpg" />
    </Figure>
    <p>12. Click <b>Save</b> in the top menu and click on the <b>OK</b> button after</p>
    <p>13. Click <b>Create release</b> in the top menu and click on the <b>Create</b> button </p>
    <p>14. Open a browser when the Release has finished and navigate to the URL of your Web App. Open the <em>Developer Tools (F12)</em> of your browser</p>
    <pre><code class="language-html">https://[YourAppName]api.azurewebsites.net</code></pre>
    <p>15. After the Deployment of the Blazor Web App it is possible you see the error below in the <em>Console</em> window of your browser</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/blazor_deployment_succeeded_cors_issue.jpg" />
    </Figure>
    <p>16. As you can see the deployment succeeded, but the Web App is having issues. We will fix them in the next part</p>
  </Part>
</PartTemplate>