@page "/part5"

<PartTemplate Title="@Constants.Part5.Title" PrevHref="@Constants.Part5.PrevHref" Href="@Constants.Part5.Href" NextHref="@Constants.Part5.NextHref" PageIdentifier="@Constants.Part5.PageIdentifier" >
    <Part>
      <p>1. Login into the <a href="https://portal.azure.com/" target="_blank">Azure Portal</a></p>
      <p>2. Click on <b>Create a resouce</b></p>
      <p>3. Search for Web App</p>
      <p>4. Click the <b>Create</b> button in the <em>Web App</em> window </p>
      <p>5. Select rg[YourAppName] in the <em>Resource Group</em> dropdown</p>
      <p>6. Enter [YourAppName]API in the <em>Name</em> input field</p>
      <p>7. Select <em>.NET Core 3.1 (LTS)</em> in the <em>Runtime stack</em> dropdown</p>
      <p>8. Select <em>Windows</em> as <em>Operating System</em></p>
      <p>9. Select the same <em>Region</em> as in tthe SQL server you created in Part 3</p>
      <p>10. Click on <b>Create new</b> in thet <em>Windows Plan</em>. Name it <em>[YourAppName]ApiWinPlan</em></p>
      <p>11. Click <b>Change size</b> in <em>Sku and size</em>. Go for the <em>Dev/Test Free F1</em> version and click the <b>Apply</b> button</p>
      <Figure Size="FigureSize.None">
        <FigureImage Source="images/create_api_web_app.jpg" />
      </Figure>
      <p>12. Click the <b>Review + create</b> button. Click <b>Create</b> button</p>
      <p>13. Click on <b>Go to resource</b> when the Web App has been created</p>
      <p>14. Click on <b>Configuration</b> in the left menu and click <b>+ New application setting</b> in the <em>Application settings</em> window</p>
      <p>15. Enter <em>ASPNETCORE_ENVIRONMENT</em> in the <em>Name</em> field and <em>Staging</em> in the <em>Value</em> field. Click the <b>OK</b>, <b>Save</b> and <b>Continue</b> buttons</p>
      <p>16. Copy the URL of the Web App</p>
      <pre><code class="language-html">https://[YourAppName]api.azurewebsites.net</code></pre>
    </Part>
</PartTemplate>