@page "/part8"

<PartTemplate Title="@Constants.Part8.Title" PrevHref="@Constants.Part8.PrevHref" Href="@Constants.Part8.Href" NextHref="@Constants.Part8.NextHref" PageIdentifier="@Constants.Part8.PageIdentifier" >
    <Part>
      <p>1. Login into the <a href="https://portal.azure.com/" target="_blank">Azure Portal</a></p>
      <p>2. Click on <b>Create a resouce</b></p>
      <p>3. Search for <em>Web App</em> in the <em>Search the Marketplace</em> field</p>
      <p>4. Click the <b>Create</b> button in the <em>Web App</em> window </p>
      <p>5. Select <em>rg[YourAppName]</em> in the <em>Resource Group</em> dropdown</p>
      <p>6. Enter <em>[YourAppName]Blazor</em> in the <em>Name</em> input field</p>
      <p>7. Select <em>.NET Core 2.1 (LTS)</em> in the <em>Runtime stack</em> dropdown</p>
      <p>8. Select <em>Windows</em> as <em>Operating System</em></p>
      <p>10. Select the same region as the SQL server you created in Part 3</p>
      <p>11. Select the [YourAppName]ApiWinPlan in the Windows Plan dropdown</p>
      <Figure Size="FigureSize.None">
        <FigureImage Source="images/create_blazor_web_app.jpg" />
      </Figure>
      <p>12. Click the <b>Review + create</b> button. Click <b>Create</b> button</p>
      <p>13. Click on <b>Go to resource</b> when the Web App has been created</p>
      <p>14. Click on <b>Configuration</b> in the left menu and click <b>+ New application setting</b> in the <em>Application settings</em> window</p>
      <p>15. Enter <em>ASPNETCORE_ENVIRONMENT</em> in the <em>Name</em> field and <em>Staging</em> in the <em>Value</em> field. Click the <b>OK</b>, <b>Save</b> and <b>Continue</b> buttons</p>
      <p>16. Copy the URL of the Blazor Web App for later use</p>
      <pre><code class="language-html">https://[YourAppName]blazor.azurewebsites.net</code></pre>
    </Part>
</PartTemplate>