@page "/part2"

<PartTemplate Title="@Constants.Part2.Title" PrevHref="@Constants.Part2.PrevHref" Href="@Constants.Part2.Href" NextHref="@Constants.Part2.NextHref" PageIdentifier="@Constants.Part2.PageIdentifier" >
    <Part>
      <p>1. Check your dotnet version. Should be at least 3.1.x</p>
      <pre><code class="language-html">dotnet --version</code></pre>
      <p>2. Install or update first the <em>ABP CLI</em> using a command line window</p>
      <pre><code class="language-html">dotnet tool install -g Volo.Abp.Cli || dotnet tool update -g Volo.Abp.Cli</code></pre>
      <p>3. Open a comman prompt in the <em>GitHub repository folder</em> and create a <em>new abp Blazor solution</em> with the command below</p>
      <pre><code class="language-html">abp new YourAppName -u blazor</code></pre>
      <p>4. Rename the <em>aspnet-core</em>folder to <em>YourAppName</em></p>
      <p>5. Open a command prompt in the <em>[YourAppName].DbMigrator</em> project and enter the command below to apply the database migrations</p>
      <pre><code class="language-html">dotnet run</code></pre>
      <Figure Size="FigureSize.None">
        <FigureImage Source="images/apply_database_migrations.jpg" />
      </Figure>
      <p>6. Open a command prompt in the <em>[YourAppName].HttpApi.Host</em> project to run the API project.</p>
      <pre><code class="language-html">dotnet run</code></pre>
      <p>7. Navigate to the <em>applicationUrl</em> specified in <em>the launchSettings.json</em> file of the <em>[YourAppName].HttpApi.Host project</em>. You should get the <em>Swagger window</em></p>
      <Figure Size="FigureSize.None">
          <FigureImage Source="images/swagger_running.jpg" />
      </Figure>
      <p>8. Open a command prompt in the <em>[YourAppName].Blazor</em> folder and enter the command below to run the Blazor project</p>
      <pre><code class="language-html">dotnet run</code></pre>
      <p>9. Navigate to the <em>applicationUrl</em> specified in the <em>launchSettings.json</em> file of the <em>[YourAppName].Blazor</em> project. You should get the <em>ABP.IO Welcome window</em></p>
      <Figure Size="FigureSize.None">
          <FigureImage Source="images/welcome_page.jpg" />
      </Figure>
      <p>10. Stop both the <em>API</em> and the <em>Blazor</em> project by pressing <b>CTRL+C</b></p>
      <p>11. Open a command prompt in the root folder of your project and <em>add, commit and push</em> all your changes to your GitHub repository</p>
       <pre><code class="language-html">
git add .
git commit -m initialcommit
git push
      </code></pre>
    </Part>
</PartTemplate>