@page "/part1"

<PartTemplate Title="@Constants.Part1.Title" Href="@Constants.Part1.Href"  PrevHref="@Constants.Part1.PrevHref" NextHref="@Constants.Part1.NextHref" PageIdentifier="@Constants.Part1.PageIdentifier" >
    <Part>
      <p>1. Create a new repository on <a href="https://github.com" target="_blank">GitHub.com</a> (with default settings).</p>
      <p>2. In the repository Settings navigate to the Github Pages section. Click Choose a Theme. Select Theme and click on Commit changes.</p>
      <p>3. Clone the repository into a folder on your conputer.</p>
      <pre><code class="language-html">git clone https://github.com/your-username/your-repository-name.git </code></pre>
      <p>4. Navigate into the GitHub repository folder and delete the index.md and _config.yml files.</p>
    </Part>
</PartTemplate>