@page "/part1"

<PartTemplate Title="@Constants.Part1.Title" Href="@Constants.Part1.Href"  PrevHref="@Constants.Part1.PrevHref" NextHref="@Constants.Part1.NextHref" PageIdentifier="@Constants.Part1.PageIdentifier" >
    <Part>
      <p>1. Fill in <em>Repository Name</em> and click <b>Create repository</b> on <a href="https://github.com" target="_blank">GitHub.com</a> to create a new repository (keep all default settings).</p>
      <p>2. In the repository <em>Settings</em> tab navigate to the <em>Github Pages</em> section. Click on the <b>Choose a theme</b> button. Click on the <b>Select theme</b> button next. Finally click on the <b>Commit changes</b> button.</p>
      <p>3. Open a command prompt and clone the repository into a folder on your conputer.</p>
      <pre><code class="language-html">git clone https://github.com/your-username/your-repository-name.git </code></pre>
      <p>4. Navigate into the GitHub repository folder and delete the index.md and _config.yml files.</p>
    </Part>
</PartTemplate>