@page "/part9"

<PartTemplate Title="@Constants.Part9.Title" PrevHref="@Constants.Part9.PrevHref" Href="@Constants.Part9.Href"
NextHref="@Constants.Part9.NextHref" PageIdentifier="@Constants.Part9.PageIdentifier">
  <Part>
    <p>1. Go to the Release pipeline in <a href="https://azure.microsoft.com/en-us/services/devops/" target="_blank">
        Azure DevOps and click Edit</a></p>
    <p>2. Click the + Add link to add a New Stage</p>
    <p>3. Select <em>Azure App Service deployment</em> and click the <b>Apply</b> button </p>
    <p>4. Enter BlazorDeployment in the Stage name input field and close the Stage window</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/add_stage_in_release_pipeline.jpg" />
      <FigureCaption>Release pipeline overview</FigureCaption>
    </Figure>
    <p>5. Click on the little red circle with the exclamation in the BlazorDeployment stage </p>
    <p>6. Select your subscription in the Azure subscription dropdown. </p>
    <p>7. Click on the Deploy Azure App Service task</p>
    <p>8. Select [YourAppName].Blazor.zip in the Package or folder input field</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/select_blazor_zip_in_drop_folder.jpg" />
      <FigureCaption>Select [YourAppName].Blazor.zip in drop folder</FigureCaption>
    </Figure>
    <p>9. Click on the Save icon in the top menu. Click OK</p>
    <p>10. Click Create release in the top menu. click Create </p>
    <p>11. Open a browser when the Release has finished and navigate to the URL of your Web App</p>
    <pre><code class="language-html">https://[YourAppName]api.azurewebsites.net</code></pre>
    <p>12. After a successful Deployment of the Blazor app it is possible you receive the error below</p>
    <Figure Size="FigureSize.None">
      <FigureImage Source="images/blazor_deployment_succeeded_cors_issue.jpg" />
    </Figure>
    <p>13. As you can see the deployment succeeded, but the Web App is having issues. We will fix them in the
      next part.</p>
  </Part>
</PartTemplate>