@page "/part8"

<PartTemplate Title="@Constants.Part8.Title" PrevHref="@Constants.Part8.PrevHref" Href="@Constants.Part8.Href" NextHref="@Constants.Part8.NextHref" PageIdentifier="@Constants.Part8.PageIdentifier" >
    <Part>
      <p>1. Login into the <a href="https://portal.azure.com/" target="_blank">Azure Portal</a></p>
      <p>2. Click on Create a resouce</p>
      <p>3. Search for Web App</p>
      <p>4. Click the Create button in the Web App window </p>
      <p>5. Select rg[YourAppName] in the Resource Group dropdown</p>
      <p>6. Enter [YourAppName]Blazor in the Name input field</p>
      <p>7. Select .NET Core 2.1 (LTS) in the Runtime stack dropdown</p>
      <p>8. Select Windows as Operating System</p>
      <p>10. Select the same region as the SQL server you created in Part 3</p>
      <p>11. Select the [YourAppName]ApiWinPlan in the Windows Plan dropdown</p>
      <Figure Size="FigureSize.None">
        <FigureImage Source="images/create_blazor_web_app.jpg" />
      </Figure>
      <p>12. Click the Review + create button. Click Create button</p>
      <p>13. Click on Go to resource button when the Web App has been created</p>
      <p>14. Copy the URL of the Web App</p>
      <pre><code class="language-html">https://[YourAppName]api.azurewebsites.net</code></pre>
    </Part>
</PartTemplate>