@inherits PartTemplateBase

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-paperclip mr-2" aria-hidden="true"></span>
    <span class="text-dark">@Title</span>
</div>
<div>
      @Part
</div>
<br>
<Pagination>
    @if (@PreviousPage != -1)
    {
        <PaginationItem>
            <PaginationLink @onclick="@(() => NavigateToPage(PrevHref))">
                <span aria-hidden="true">«</span>
            </PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink @onclick="@(() => NavigateToPage(PrevHref))">
                @PreviousPage
            </PaginationLink>
        </PaginationItem>    
    }
    <PaginationItem Active="true">
        <PaginationLink @onclick="@(() => NavigateToPage(Href))">
            @CurrentPage
        </PaginationLink>
    </PaginationItem>
    @if (@CurrentPage != -1)
    {
        <PaginationItem>
            <PaginationLink @onclick="@(() => NavigateToPage(NextHref))" >
                @NextPage
            </PaginationLink>
        </PaginationItem>
        <PaginationItem>
            <PaginationLink @onclick="@(() => NavigateToPage(NextHref))" >
                <span aria-hidden="true">»</span>
            </PaginationLink>
        </PaginationItem>
    }
</Pagination>
<br>
<hr>
<br>
<Disqus UrlPart="@Href" PageIdentifier="@PageIdentifier"></Disqus>